<div class="container mt-4" *ngIf="Order?.length">
  <div class="table-responsive">
    <table class="table table-striped table-bordered align-middle text-center">
      <thead class="table-dark">
        <tr>
          <th>Núimero de orden</th>
          <th>Nombre Paciente</th>
          <th>Examenes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Order">
          <td>{{ item.id }}</td>
          <td>{{ item.namePatient }}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>